/* SPDX-License-Identifier: GPL-2.0 */
/dts-v1/;
#include "am335x-evm.dts"

/ {
    model = "TPSE BeagleBone Black";
    compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";

    leds {
        compatible = "gpio-leds";
        led0 {
            label = "beaglebone:green:usr0";
            gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>; /* USR0 */
            linux,default-trigger = "heartbeat";
        };
        led1 {
            label = "beaglebone:green:usr1";
            gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>; /* USR1 */
            linux,default-trigger = "mmc0";
        };
        led2 {
            label = "beaglebone:green:usr2";
            gpios = <&gpio1 23 GPIO_ACTIVE_HIGH>; /* USR2 */
            linux,default-trigger = "cpu0";
        };
        led3 {
            label = "beaglebone:green:usr3";
            gpios = <&gpio1 24 GPIO_ACTIVE_HIGH>; /* USR3 */
            linux,default-trigger = "none";
        };
    };

    pwm_test {
        compatible = "pwm-test";
        pwms = <&ehrpwm1 0 1000000 0>, /* PWM1A com período de 1 ms */
               <&ehrpwm1 1 1000000 0>; /* PWM1B com período de 1 ms */
        pwm-names = "pwm_test_A", "pwm_test_B";
    };

    fragment@1 {
        target = <&epwmss0>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@2 {
        target = <&ehrpwm1>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm_pins>;
            status = "okay";
        };
    };
};

&am33xx_pinmux {
    pwm_pins: pwm_pins {
        pinctrl-single,pins = <
            AM33XX_IOPAD(0x848, PIN_OUTPUT | MUX_MODE6) // P9.14, EHRPWM1A
            AM33XX_IOPAD(0x84c, PIN_OUTPUT | MUX_MODE6) // P9.16, EHRPWM1B
        >;
    };
};

&ehrpwm1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pwm_pins>;
    status = "okay";
};

